.btn-login{
    margin-right: 5px;
}
.navbar-logo {
    height:25px; 
    width: 25px;  
    margin-bottom: 0.55rem;
}
.navbar-title {
    font-size: 25px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
       font-size: 20px;
}

/*Breadcumb begn*/
@media (max-width: 767px) {
    .btn-breadcrumb {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px) !important;
    }
}

.btn-breadcrumb {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #ccc;
}

    .btn-breadcrumb .btn {
        border-color: transparent;
        border: 0px solid transparent;
        border-right: 1px solid transparent !important;
        font-size: 11px;
    }

.breadcrumb-default {
    background-color: #fff;
}

.btn-primary, .breadcrumb-primary {
    background-color: #337ab7;
}

    .btn-primary:hover {
        background-color: #286090;
    }

.breadcrumb-success {
    background-color: #5cb85c;
}

.breadcrumb-info {
    background-color: #5bc0de;
}

.breadcrumb-warning {
    background-color: #f0ad4e;
}

.breadcrumb-danger {
    background-color: #d9534f;
}

.breadcrumb-negro {
    background-color: #d4d4d4;
}

.btn-breadcrumb .btn:last-child {
    font-weight: bold;
}

    .btn-breadcrumb .btn:last-child:after {
        margin-left: -2px;
        display: none;
    }

    .btn-breadcrumb .btn:last-child:before {
        margin-left: -1px;
        display: none;
    }

.btn-breadcrumb .btn:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    margin-left: 0px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -14px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

    .btn-breadcrumb .btn:first-child {
        padding: 6px 6px 6px 10px;
    }

    .btn-breadcrumb .btn:last-child {
        padding: 6px 18px 6px 24px;
    }


    /** Primary button **/
    .btn-breadcrumb .btn.btn-primary:after {
        border-left: 10px solid #337ab7;
    }

    .btn-breadcrumb .btn.btn-primary:hover:after {
        border-left: 10px solid #286090;
    }

    .btn-breadcrumb .btn.btn-primary:hover:before, .btn-breadcrumb .btn.btn-primary:before {
        border-left: 10px solid #204d74;
    }

.breadcrumb-primary {
    border: solid 1px #204d74;
}
.breadcrumb-info{
    font-size: 20px !important;
}
/*Breadcumb end*/